h1 {
    font-size: 2em
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
}

code, kbd, pre, samp {
    font-size: 1em
}

html {
    font-size: 10px;
}
body {
    font-size: 14px;
}
button, input, select, textarea {
    font-size: inherit;
}

.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small {
    font-size: 65%
}

.h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small {
    font-size: 75%
}

.h1, h1 {
    font-size: 36px
}

.h2, h2 {
    font-size: 30px
}

.h3, h3 {
    font-size: 24px
}

.h4, h4 {
    font-size: 18px
}

.h5, h5 {
    font-size: 14px
}

.h6, h6 {
    font-size: 12px
}

.lead {
    font-size: 16px;
}

@media (min-width:768px) {
    .lead {
        font-size: 21px
    }
}

.small, small {
    font-size: 85%
}

.initialism {
    font-size: 90%;
}

blockquote {
    font-size: 17.5px;
}

blockquote .small, blockquote footer, blockquote small {
    font-size: 80%;
}

code {
    font-size: 90%;
}

kbd {
    font-size: 90%;
}

kbd kbd {
    font-size: 100%;
}

pre {
    font-size: 13px;
}

pre code {
    font-size: inherit;
}

legend {
    font-size: 21px;
}

output {
    font-size: 14px;
}

.form-control {
    font-size: 14px;
}

.input-sm {
    font-size: 12px;
}

.form-group-sm .form-control {
    font-size: 12px;
}


.form-group-sm .form-control-static {
    font-size: 12px;
}

.input-lg {
    font-size: 18px;
}

.form-group-lg .form-control {
    font-size: 18px;
}

.form-group-lg .form-control-static {
    font-size: 18px;
}

@media (min-width:768px) {
    .form-horizontal .form-group-lg .control-label {
        font-size: 18px
    }
}

@media (min-width:768px) {
    .form-horizontal .form-group-sm .control-label {
        font-size: 12px
    }
}

.btn {
    font-size: 14px;
}

.btn-group-lg>.btn, .btn-lg {
    font-size: 18px;
}

.btn-group-sm>.btn, .btn-sm {
    font-size: 12px;
}

.btn-group-xs>.btn, .btn-xs {
    font-size: 12px;
}

.dropdown-menu {
    font-size: 14px;
}

.dropdown-header {
    font-size: 12px;
}

.input-group-lg>.form-control, .input-group-lg>.input-group-addon, .input-group-lg>.input-group-btn>.btn {
    font-size: 18px;
}

.input-group-sm>.form-control, .input-group-sm>.input-group-addon, .input-group-sm>.input-group-btn>.btn {
    font-size: 12px;
}

.input-group-addon {
    font-size: 14px;
}

.input-group-addon.input-sm {
    font-size: 12px;
}

.input-group-addon.input-lg {
    font-size: 18px;
}

.input-group-btn {
    font-size: 0;
}

.navbar-brand {
    font-size: 18px;
}

.pagination-lg>li>a, .pagination-lg>li>span {
    font-size: 18px;
}

.pagination-sm>li>a, .pagination-sm>li>span {
    font-size: 12px;
}

.label {
    font-size: 75%;
}

.badge {
    font-size: 12px;
}

.jumbotron p {
    font-size: 21px;
}

@media screen and (min-width:768px) {
    .jumbotron .h1, .jumbotron h1 {
        font-size: 63px
    }
}

.progress-bar {
    font-size: 12px;
}

.panel-title {
    font-size: 16px;
}

.close {
    font-size: 21px;
}

.tooltip {
    font-size: 12px;
}

.popover {
    font-size: 14px;
}
.popover-title {
    font-size: 14px;
}

@media screen and (min-width:768px) {
    .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
        font-size: 30px
    }
}
