div.avater-div {
  background-color: rgba(0,128,0,0.3); /* Green */
  border: none;
  height:40px;
  width:40px;
  padding: 5px 15px;
  margin: 10px 5px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}
a.avater-link {
    color:black;
    transition-property: none;
    width: 40px;
    height: 40px;
    padding: 0;
    text-decoration: none;
}
a.avater-link:hover {
    color:black;
}
a.project-name {
    color:black;
}

div.flex-wrapper {
    border: none;
    color: white;
    padding: 0 5px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

div.type-acces {
    border: none;
    color: white;
    padding: 0 5px;
    border-radius: 5px;
    text-decoration: none;
    flex-direction: column;
}

div.flex-container-col{
    display: flex;
    flex-direction: column;
    width: 70%;
}
div.flex-container-row{
    display: flex;
    flex-direction: row;
}
div.quest-time-div {
  border: none;
  padding: 5px 15px;
  margin: 10px 5px 10px 150px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

span.namespace-name{
    color:black;
    font-size: 14px;
    font-weight: 600;
}
span.questionnaire-name {
    color:black;
    font-size: 14px;
    font-weight: 600;
}
span.icon-acces{
    margin-left:15px;
    color:#707070;
    font-size: 12px;
}
span.label-acces{
    color:#707070;
    font-size: 12px;
}
span.icon-type{
    color:#707070;
    font-size:12px;
}

span.quest-type-name{
    color:#707070;
    font-size:12px;
}
span.icon-time{
    color:#707070;
    font-size:16px;
}
span.quest-time{
    color:#707070;
    font-size:16px;
}

p.quest-description{
    color:black;
    font-size:12px;
}


.item {
    border-left:none;
    border-right:none;
}
