<%@page contentType="text/html" pageEncoding="UTF-8"%>
<%@taglib prefix="form" uri="http://www.springframework.org/tags/form"%>
<%@taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="css/custom-font.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/questionnaire.css">
    <link rel="stylesheet" href="css/modifyQuestionnaire.css">
    <script src="js/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="js/createQuestionnaire.js" type="text/javascript"></script>
    <title>Saturne</title>
</head>

<body>
    <ul class="list-group">
        <li class="list-group-item item">
            <div class="flex-container-row">
                <div class="avater-div">
                    <a href="#" class="avater-link">T</a>
                </div>
                <div class="flex-container-col">
                    <div class="flex-wrapper">
                        <a href="#" class="project-name">
                            <span class="namespace-name">CAI Pengfei / </span>
                            <span class="questionnaire-name">My 1st Questionnaire</span>
                        </a>
                        <span class="icon-acces"><i aria-hidden="true" class="fas fa-globe-europe"></i></span>
                        <span class="label-acces">Public</span>
                        <p class="quest-description">adfasf</p>
                    </div>
                    <div class="type-acces">
                        <span class="icon-type"><i class="fas fa-angle-right"></i></i></span>
                        <span class="quest-type-name">QCM</span>
                    </div>
                </div>
                <div class="quest-time-div">
                    <span class="icon-time"><i class="far fa-clock"></i></span>
                    <span class="quest-time">02:20</span>
                </div>
            </div>
        </li>
    </ul>
</body>

</html>
